<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Encabezados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>




    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="bussines" (click)="loadBusinessNews()">
            <ion-label>Business</ion-label>
        </ion-segment-button>
        <ion-segment-button value="general" (click)="loadGeneralNews()">
            <ion-label>General</ion-label>
        </ion-segment-button>
        <ion-segment-button value="entertainment" (click)="loadEntertainmentNews()">
            <ion-label>Entertainment</ion-label>
        </ion-segment-button>
    </ion-segment>




    <ion-list>
        <ion-item *ngFor="let new of news">
            <ion-card>
                <ion-img src="{{new.urlToImage}}" (click)="openBrowser(new.url)"></ion-img>
                <ion-card-header>
                    <ion-card-subtitle>{{ new.author }}
                        <div class="noticia-more">
                            <ion-button (click)="lanzarMenu(new)" fill="clear">
                                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                            </ion-button>
                        </div>
                    </ion-card-subtitle>
                    <ion-card-title (click)="openBrowser(new.url)">{{ new.title }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    {{ new.description }}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>