<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Para ti
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-list>
        <ion-item *ngFor="let new of news">
            <ion-card>
                <ion-img src="{{new.urlToImage}}" (click)="openBrowser(new.url)"></ion-img>
                <ion-card-header>
                    <ion-card-subtitle>{{ new.author }}
                        <div class="noticia-more">
                            <ion-button (click)="lanzarMenu(new)" fill="clear">
                                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                            </ion-button>
                        </div>
                    </ion-card-subtitle>
                    <ion-card-title (click)="openBrowser(new.url)">{{ new.title }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    {{ new.description }}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">

        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..."></ion-infinite-scroll-content>

    </ion-infinite-scroll>



    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-content>